<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>REVEAL</title>

  <link rel="stylesheet" href="/static/css/style.css" />
</head>

<body>
  <main class="container">
    <h1>REVEAL</h1>

    <p class="subtitle">
      Reverse Engineering Visual Explanation and Assistance Layer
    </p>

    <button class="upload-button">Upload Executable</button>
  </main>

  <script src="/static/js/app.js"></script>
</body>

</html>
